body{
    font-family: 'Roboto Slab', serif;
    font-size: large;
}
.navbar{
    background-color: #ffff;

}
.navbar a{
    color: #112031;
}
.nav a:hover{
    color:#416e77;
}
#logo{
    height: 120px;
    width: 105px;
    /* filter: blur(2px); */
}
/* #logo:hover{
    filter: drop-shadow(5px rgb(59, 57, 57));   
} */
/* hover operations */
#menu{
    display: none;
}

.bi-list{
    width: 70px;
    height: 85px;
}
/* .img-fluid{
    opacity: 0.5;
}
#home-img{
    background-image: url("/assets/photo-1560780552-ba54683cb263.jpeg");
} */

/* solve the card problem */

.bg-body-tertiary{
    padding: 20px;
}

@media (max-width: 992px){
    #nav-options{
        display: none;
    }
    #menu{
        display: flex;
    }
}
@media (max-width: 768px){
    #logo{
        height: 75px;
        width: 67px;
    }
    .bi-list{
        width: 55px;
        height: 67px;
    }
}