body{
    font-family: 'Roboto Slab', serif;
    font-size: large;
}
.navbar{
    background-color: #ffff;

}
.navbar a{
    color: #112031;
}
.nav a:hover{
    color:#416e77;
}
#logo{
    height: 120px;
    width: 105px;
    /* filter: blur(2px); */
}
/* #logo:hover{
    filter: drop-shadow(5px rgb(59, 57, 57));   
} */
/* hover operations */
#menu{
    display: none;
}

.bi-list{
    width: 70px;
    height: 85px;
}
/* .img-fluid{
    opacity: 0.5;
}
#home-img{
    background-image: url("/assets/photo-1560780552-ba54683cb263.jpeg");
} */
.card img{
    width: 288px;
    height: 198px;
    transition: transform 0.6s;
}
.card img:hover{
    transform: scale(1.009);
}
/* solve the card problem */
.container1{
    justify-content: space-between;
}
.bg-body-tertiary{
    padding: 20px;
}

@media (max-width: 992px){
    #nav-options{
        display: none;
    }
    #menu{
        display: flex;
    }
 .card{
        min-width: 40%;
        height: 80%;
        

    }
    .container1{
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
}
@media (max-width: 768px){
    #logo{
        height: 75px;
        width: 67px;
    }
    .bi-list{
        width: 55px;
        height: 67px;
    }
    .container1{
        
        justify-content: space-between;
        flex-wrap: wrap;
        
        
    }
    .card{
        min-width: 40%;
        height: 80%;
        margin-left: 17%;


    }
}


.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    
    
  }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    /* // this is really the only tricky part, you need to specify the background color of the container element... */
    color: #818078;
    background-color: #fcfcfa;
  }
  .hr-text::before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }

  /* About Section */
  @media (max-width: 992px) {
    .container2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
  }
   
  .about{
    border: 0px;
  }
  .about a{
    text-decoration: none;
    color: grey;
  }
  .about a:hover{
    color: slateblue;
  }
  .about .list-group-item{
    border: 0px;
  }


